body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

nav {
    width: 100%;
    background-color: rgba(110, 225, 43, 0.629);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav > div {
    padding: 0px 30px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav > div > div {
    display: none;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    width: 20%;
    color: black;
    text-decoration: none;
}

nav > div > ul {
    width: 20%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav > div > ul > li > a {
    text-decoration: none;
    color: black;
}

.input-form {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.password {
    padding-left: 10px;
    height: 30px;
    width: 230px;
    border: 2px solid gray;
    border-radius: 8px;
    font-size: 14px;
}

.watch-btn {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 30px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    right: 1px;
}

.watch-btn > img {
    position: relative;
    margin: 32px auto;
}

.hamburger-menu-list {
    display: none;
}

.show {
    display: flex;
}

@media (max-width: 600px) {
    nav > div:first-of-type {
        position: relative;
    }

    nav > div > div > .hamburger-menu-btn {
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    nav > div > div {
        display: flex;
    }

    nav > div > ul {
        display: none;
    }

    .hamburger-menu-list {
        position: absolute;
        top: 4rem;
        left: 0;
        background-color: white;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding: 20px 30px;
        border-bottom: 1px solid rgb(196, 196, 196);
        height: fit-content;
        width: 100%;
    }

    .hamburger-menu-list > ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap:15px;
        list-style: none;
    }
    
    .hamburger-menu-list > ul > li > a {
        color: black;
        width: 100%;
        text-decoration: none;
    }
}